* {
    box-sizing: content-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../assets/images/angel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-content: center;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 200;

}

.content1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 9rem 20rem;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
}

.textpink {
    background: linear-gradient(to right, #fc666e, #DA0170);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    line-height: 1.5;
}


.textblack {
    color: black;
    font-size: 70px;
    line-height: 1.5;
}

.text1 {
    margin-right: 2rem;
    font-size: 1rem;
    line-height: 2;
    margin-right: 10rem;
}

button {
    background-color: #FA4A54;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 15px 40px;
}

.image1 img {
    width: 100;
}

.text2 {
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 2;
    margin-left: 10rem;
}

.content2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 0rem 16rem;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
}

.textrigth {
    background-image: url(../assets/images/raptis.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    align-content: center;
    margin-top: 9rem;
}

.textrigth {
    color: white;
    margin-right: 2rem;
    font-size: 1rem;
    line-height: 2;
    margin-right: 10rem;
}

.textrigth h2 {
    color: white;
    font-size: 70px;
    line-height: 1.5;
}

footer {
    background: linear-gradient(to right, #fc666e, #FD2E5C);
}

.colums {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    line-height: 2.5;
}


